Source: icons-zondicons
Section: graphics
Priority: optional
Maintainer: Lenik <icons-zondicons@bodz.net>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, python3, iconlibutils
Standards-Version: 4.6.2
Homepage: https://www.zondicons.com/
Vcs-Browser: https://github.com/lenik/pkg-icons-zondicons
Vcs-Git: https://github.com/lenik/pkg-icons-zondicons.git
Rules-Requires-Root: no

Package: icons-zondicons
Architecture: all
Depends: ${misc:Depends},
         iconlibutils
Description: Zondicons
 Zondicons
 .
 Provides icon assets under /usr/share/icons-zondicons, a preview index, and a
 launcher `icons-zondicons` (`iconlibutils -l zondicons`).
